<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Disease</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <section class="heading">
        <div class="logo">
        <img src="main.svg"  >
    </div>
    <div class="head">
        <center>
     <div class="search">
        <input  id="sea" type="text">
        <a  class="search-btn" href="#" >           
            <img src="search_icon.svg" height="43.5px" >
        </a>
     </div>
    </center>
                                                                 
     
    </div>
    </section>
    <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> 
        <a href="home.html" class="active">Home</a>
        
        
       
        <a href="">Crop Information</a>
        <a href="">Modern Irrigation Techniques</a>
        <a href="modern_irrigation.html">Modern Farming Techniques</a>
        <a href="">Organic Farming</a>
        <a href="">Crop Disease</a>
        <a href="#contact">Government Schemes</a>
        
        <a href="#about">Suggestions</a>
         </div>

</body>
</html>