<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farming Techniques</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/jpg" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/govt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
   
    <section class="heading">
        <div class="logo">
        <img src="{{ url_for('static', filename='main.svg') }}"  >
    </div>
    <div class="head">
        <center>
     <!-- <div class="search">
        <input  id="sea" type="text">
        <a  class="search-btn" href="#" >           
            <img src="{{ url_for('static', filename='search_icon.svg') }}" height="43.5px" >
        </a>
     </div> -->
    </center>
                                                                 
     
    </div>
    </section>
    
    <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> 
        <a href="/" class="active">Home</a>
        
        
       
        <a href="/cropinfo">Crop Information</a>
        <a href="/irrigation">Modern Irrigation Techniques</a>
        <a href="/tech">Modern Farming Techniques</a>
        <a href="/organic">Organic Farming</a>
        <a href="/crop_recom">Crop Recommendation</a>
        <a href="/govt">Government Schemes</a>
        
        <a href="#about">Suggestions</a>
         </div>
    <h1 class="head">Farming Techniques</h1>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Subsistence Farming / Agriculture </h1>
            </div>
            <div class="card-body">
                <p>
                    This farming system is being used by many farmers in India as most of them are small scale farmers who cannot able to afford high yielding seeds and required crop fertilizers.
<br/><br/>
                </p>
                <a href="/tech1" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Shifting Agriculture</h1>
            </div>
            <div class="card-body">
                <p>
                    In this type of farming system, usually a small extent of forest land is cleared for growing crops. Mostly tribal farmers used to practice this.<br/><br/>
                </p>
                <a href="/tech2" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Plantation Agriculture / Farming</h1>
            </div>
            <div class="card-body">
                <p>
                    Plantation farming is nothing but a tree or bush farming which had been introduced by the British around the 19th century. It mostly refers to single crop orchards or crops. <br/><br/>
                </p>
                <a href="/tech3" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Intensive Farming / Agriculture</h1>
            </div>
            <div class="card-body">
                <p>
               It is a cultivation practice where one can obtain a high yield per unit area.<br/><br/>
                </p>
                <a href="/tech4" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
    <footer class="Footer">
        <span>Hara Jeewan</span>
        <br>
        <a>Contact us</a> |
        <a>Linkedin</a> |
        <a>Facebook</a>
       
    </footer>   
   
</body>
</html>