<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Schemes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/jpg" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/govt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
   
    <section class="heading">
        <div class="logo">
        <img src="{{ url_for('static', filename='main.svg') }}"  >
    </div>
    <div class="head">
        <center>
     <!-- <div class="search">
        <input  id="sea" type="text">
        <a  class="search-btn" href="#" >           
            <img src="{{ url_for('static', filename='search_icon.svg') }}" height="43.5px" >
        </a>
     </div> -->
    </center>
                                                                 
     
    </div>
    </section>
    
    <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> 
        <a href="/" class="active">Home</a>
        
        
       
        <a href="/cropinfo">Crop Information</a>
        <a href="/irrigation">Modern Irrigation Techniques</a>
        <a href="/tech">Modern Farming Techniques</a>
        <a href="/organic">Organic Farming</a>
        <a href="/crop_recom">Crop Recommendation</a>
        <a href="/govt">Government Schemes</a>
        
        <a href="#about">Suggestions</a>
         </div>
    <h1 class="head">GOVERNMENT SCHEMES</h1>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>PRADHAN MANTRI FASAL BIMA YOJANA </h1>
            </div>
            <div class="card-body">
                <p>
                    To provide insurance coverage and financial support to the farmers in the event
of failure of any of the notified crop as a result of natural calamities, pests & amp;
diseases.<br/><br/>
                </p>
                <a href="/PM" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Pradhan Mantri Krishi Sinchai Yojana(PMKSY)</h1>
            </div>
            <div class="card-body">
                <p>
                    To this effect Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) has been formulated with the vision of extending the coverage of irrigation ‘Har Khet ko pani’<br/><br/>
                </p>
                <a href="/PM2" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Paramparagat Krishi Vikas Yojna (PKVY)</h1>
            </div>
            <div class="card-body">
                <p>
                    It aims at development of sustainable models of organic farming *through a mix of traditional wisdom and modern science to 
                    ensure long term soil fertility buildup, resource conservation and helps in climate change adapatation and mitigation. <br/><br/>
                </p>
                <a href="/PM3" class="btn" target="_blank">Read more</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="card">
            <div class="card-header">
                <h1>Gramin Bhandaran Yojna</h1>
            </div>
            <div class="card-body">
                <p>
                Promotion of grading, standardization and quality control of agricultural produce to improve their marketability.<br/><br/>
                </p>
                <a href="/PM4" class="btn" target="_blank">Read more</a>
            </div>
        </div>
    </div>
    <footer class="Footer">
        <span>Hara Jeewan</span>
        <br>
        <a>Contact us</a> |
        <a>Linkedin</a> |
        <a>Facebook</a>
       
    </footer>  
   
</body>
</html>