<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hara Jeewan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
       
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    <section class="heading">
        <div class="logo">
        <img src="{{ url_for('static', filename='main.svg') }}"  >
    </div>
    <div class="head">
        <center>
     <div class="search">
        <input  id="sea" type="text">
        <a  class="search-btn" href="#" >           
            <img src="{{ url_for('static', filename='search_icon.svg') }}" height="43.5px" >
        </a>
     </div>
    </center>
                                                                 
     
    </div>
    </section>
    
    <!-- <nav class="navbar">
        <ul class="bar">
            <li>
             Home
            </li>
            <li>
             Crop Information
            </li>
            <li>
            Modern Irrigation Techniques
            </li>
            <li>
           Modern Farming Techniques
            </li>
            <li>
           Organic Farming
            </li>
            <li>
          Crop Disease
            </li>
            <li>
        Government Schemes
            </li>
            <li>
         Suggestions/Feedback
            </li>
        </ul>
    </nav> -->
    <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> 
        <a href="#home" class="active">Home</a>
        
        
       
        <a href="/cropinfo">Crop Information</a>
        <a href="/irrigation">Modern Irrigation Techniques</a>
        <a href="/tech">Modern Farming Techniques</a>
        <a href="/organic">Organic Farming</a>
        <a href="#">Crop Disease</a>
        <a href="/govt">Government Schemes</a>
        
        <a href="#about">Suggestions</a>
         </div>


    <div class="main_image">
        <img src="{{ url_for('static', filename='drp.jpg') }}">
    </div>
 <div class="start-big">
  <div class="start-left start-child-l">
      
          
    
    <div class="start-left-s"> 
        <p>Agriculture plays a critical role in the entire life of a given economy. Agriculture is the backbone of 
        the economic system of a given country. In addition to providing food and raw material, agriculture also 
        provides employment opportunities to a very large percentage of the population.
        Most people’s main source of livelihood is farming. About 70% of people rely directly on agriculture as a livelihood. 
        The result of the non-development of non-agricultural activities to absorb the fast-growing population is this high 
        percentage in agriculture.
    </p>
    </p>
    Agriculture employs many people, it contributes to economic development. As a result, the national income level,
     as well as people’s standard of living, is improved. The fast rate of development in the agriculture sector 
     offers progressive outlook as well as increased motivation for development.
    <p>
        
    </div>
<hr>
      <div class="start-left-m">
    <div class="start-mid-left">
        Farm automation, often associated with “smart farming”, is technology that makes farms more efficient and 
        automates the crop or livestock production cycle. An increasing number of companies are working on robotics
         innovation to develop drones, autonomous tractors, robotic harvesters, automatic watering, and seeding robots.
          Although these technologies are fairly new, the industry has seen an increasing number of traditional 
          agriculture companies adopt farm automation into their processes. Agriculture is undergoing an evolution - technology
           is becoming an indispensable part of every commercial farm. New precision agriculture companies are developing
            technologies that allow farmers to maximize yields.
    </div>
    <div class="start-mid-right imgH">
        <a href="#">
            <img class="safal_img"  src="{{ url_for('static', filename='agri.jpg') }}" >
            <!-- <div class="centered">SAFAL KISAN</div> -->
        </a>
        <!-- Fiber crops, such as cotton and hemp, are harvested for textile and paper products. Textiles, or cloth, 
        are made from the dried and processed fibers of certain plants. Most fibers used to make textiles are taken
        from the stem or roots of plants such as flax. Flax is used to make linen. -->
    </div>
</div>
<hr>

    <div class="start-left-e">
        
    <div class="start-end-1 imgH">
        <a href="#">
            <img class="safal_img"  src="{{ url_for('static', filename='safal-kisan.jpg') }}">
            <!-- <div class="centered">SAFAL KISAN</div> -->
        </a>
        <p>भंवरपाल सिंह को गेहूं, मिर्च और धान की खेती के लिए भी कई जिला स्तरीय पुरस्कार मिले हैं। 
        भंवरपाल सिंह कहते हैं, "पहले भी मुझे कई बार सम्मानित किया गया था, लेकिन अगर मैं अपने लिए सबसे गौरवपूर्ण दिन की बात करूं 
        तो अक्टूबर, 2013 को वर्तमान प्रधानमंत्री और गुजरात के तत्कालीन मुख्यमंत्री नरेंद्र मोदी ने देश के पांच सौ जिले के पांच सौ किसानों में से
         हमको सम्मानित किया। वो हमारे लिए सबसे खुशी का दिन था।
        </p>
          </div>
    <div class="start-end-2 imgH">
        
            <a href="#">
                <img class="safal_img"  src="{{ url_for('static', filename='aquap.png') }}" >
                
            </a>
            <p>
        Modern farming technology is used to improve the wide types of production practices employed by farmers. 
        It makes use of hybrid seeds of selected variety of a single crop, technologically advanced equipment and
         lots of energy subsidies in the form of irrigation water, fertilizers and pesticides.
        </p>
    </div>
    <div class="start-end-3 imgH">
        <a href="#">
            <img class="safal_img"  src="{{ url_for('static', filename='conserv.jpg') }}">
            
        </a>
        <p>
            With the increase in population our compulsion would be not only to stabilize agricultural production 
            but to increase it further in sustainable manner. The scientists have realized that the ‘Green 
            Revolution’ with high input use has reached a plateau. 
    </div>
</div>

  </div>

  <div class="start-right start-child-r">
      <p>
    NEW DELHI (CIMMYT) — The new Soil Intelligence System (SIS) for India will help the states of Andhra Pradesh, Bihar and Odisha rationalize the costs of generating high-quality soil data and build accessible geospatial information systems based on advanced geostatistics. The SIS initiative will rely on prediction rather than direct measurements to develop comprehensive soil information at scale. The resulting data systems will embrace FAIR access principles — findable, accessible, interoperable, and reproducible — to support better decision-making in agriculture.
</p>

   <p>
    SIS is a $2.5 million investment funded by the Bill & Melinda Gates Foundation. This initiative is led by the International Maize and Wheat Improvement Center (CIMMYT), in collaboration with numerous partners including the International Food Policy Research Institute (IFPRI), World Soil Information (ISRIC), the Andhra Pradesh Space Applications Center (APSAC), and the state governments and state agriculture universities of Andhra Pradesh and Bihar. The initiative runs from September 2018 through February 2021.
</p>

    <p>
    
    “SIS will make important contributions towards leveraging soil information for decision-making in Indian agriculture by devising new soil health management recommendations,” explained Andrew McDonald, CIMMYT’s Regional Team Leader for Sustainable Intensification and Project Leader for the Cereal Systems Initiative for South Asia (CSISA). Researchers and scientists will combine mapping outputs with crop response and landscape reconnaissance data through machine-learning analytics to derive precise agronomy decisions at scale.
</p>

  </div>

 </div>
<hr>


 <div class="soilmap">
        <h1>
         Soil Map of India
        </h1>
     <img src="{{ url_for('static', filename='soil map.jpg') }}">
 </div>

<footer class="Footer">
    <span>Hara Jeewan</span>
    <br>
    <a>Contact us</a> |
    <a>Linkedin</a> |
    <a>Facebook</a>
   
</footer>


</body>

<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>   
</html>